<% layout('../layouts/boilerplate') %>
<body>
    <form action="/signup" method="post" class="addform Sform">
        <h3>Welcome to Airbnb</h3>
        <a href="/home" id="cross"><i class="ri-close-line"></i></a>
        <input type="text" name="username" placeholder="Enter username"  required>
        <input type="text" name="email" placeholder="Enter email"  required>
        <input type="password" name="password" placeholder="Set password" required>
        <br>
        <button type="submit">Signup</button>
    </form>
</body>